-# I'm really not sure why this isn't working at the moment
-# the same exact code works for seaofclouds.com
-# but doesn't even submit requests on my site

%gadget
  %h2.star Twitter
  .clr
  .sidebar-twitter