%h2
  %span Contact
  Us
%p
%p.contact_info
  %span Address:
  123 Notareal Rd. Ste. 1
  %br
  %span City/State:
  Whatevasclevarton, HI
  %br
  %span Telephone:
  +1(424)-244-1486
  %br
  %span Fax:
  +1(888)-ITS-2011
  %br
  %span E-mail:
  = link_to 'dconner.pro@gmail.com', 'mailto:dconner.pro@gmail.com?subject=You\'re Hired'