%h2
  %span Sponsors
%p Curabitur sed urna id nunc pulvinar semper. Nunc sit amet tortor sit amet lacus sagittis posuere cursus vitae nunc.Etiam venenatis, turpis at eleifend porta, nisl nulla bibendum justo.
%ul.fbg_ul
  %li= link_to 'Lorem ipsum dolor labore et dolore.', '#'
  %li= link_to 'Excepteur officia deserunt.', '#'
  %li= link_to 'Integer tellus ipsum tempor sed.', '#'