.fbg
  .fbg_resize
    .col.c1
      %h2
        %span Upcoming
      %a{:href => '#'}
        %img.gal{:src => 'images/gal1.jpg', :width => 75, :height => 75, :alt => ''}
      %a{:href => '#'}
        %img.gal{:src => 'images/gal2.jpg', :width => 75, :height => 75, :alt => ''}
      %a{:href => '#'}
        %img.gal{:src => 'images/gal3.jpg', :width => 75, :height => 75, :alt => ''}
      %a{:href => '#'}
        %img.gal{:src => 'images/gal4.jpg', :width => 75, :height => 75, :alt => ''}
      %a{:href => '#'}
        %img.gal{:src => 'images/gal5.jpg', :width => 75, :height => 75, :alt => ''}
      %a{:href => '#'}
        %img.gal{:src => 'images/gal6.jpg', :width => 75, :height => 75, :alt => ''}
    .col.c2
      =render :partial => 'shared/fbg/sponsors'
    .col.c3
      =render :partial => 'shared/fbg/contact_info'
    .clr


