.fbg
  .fbg_resize
    .col.c1
      %h2
        %span Upcoming Events
      = render :partial => 'shared/fbg/upcoming_event', :collection => @upcoming_events, :as => :event
    .col.c2
      %h2
        %span Sponsors
      %ul.fbg_ul
        =render :partial => 'shared/fbg/sponsors', :collection => @highlighted_sponsors, :as => :sponsor
    .col.c3
      =render :partial => 'shared/fbg/contact_info'
    .clr


