.footer
  .footer_resize
    %p.lf
      %a{:href => '#'}= RefinerySetting.find_or_set(:site_name, "Company Name")
      &copy; Copyright
      = Time.now.year
    %p.rf
      Design by Dream
      %a{:href => 'http://www.dreamtemplate.com/'} Web Templates
    %div{:style => 'clear:both;'}