.menu_nav
  %ul
    - ['home', 'about-me', 'events', 'videos', 'sponsors', 'contact'].each do |page|
      %li{:class => active_nav(page_name, page) }
        %a{:href => "/#{page}"}
          %span= page.split('-').join(' ').capitalize
.clr