.slider
  #coin-slider
    %a{:href => '#'}
      %img{:src => '/images/slide1.jpg', :width => 920, :height => 360, :alt => ''}
      %span
        %big Lorem ipsum headline text
        Lorem ipsum smaller longer text iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.

    %a{:href => '#'}
      %img{:src => '/images/slide2.jpg', :width => 920, :height => 360, :alt => ''}
      %span
        %big Second headline text
        Second smaller longer text iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.

    %a{:href => '#'}
      %img{:src => '/images/slide3.jpg', :width => 920, :height => 360, :alt => ''}
      %span
        %big Third headline text
        Third smaller longer text iaculis risus hasellus nec sem sed tellus malesuada porttitor. Mauris scelerisque feugiat ante in vulputate. Nam sit amet ullamcorper tortor. Phasellus posuere facilisis cursus. Nunc est lorem, dictum at scelerisque sit amet, faucibus et est. Proin mattis ipsum quis arcu aliquam molestie.
  .clr
.clr
