= render :partial => 'article', :locals => { :article => { :name => 'Welcome to Street Level', :desc => @page[:body], :pic => 'images/small_flare.jpg' } }

-#= render :partial => "/shared/content_page" %>