= render :partial => 'article', :locals => { :article => { :name => 'Welcome to Street Level', :desc => @page[:body], :pic => (@page[:pic] if @page[:pic] and !@page[:pic].empty?) } }

-#= render :partial => "/shared/content_page" %>